/*стили шапки*/
body{
  margin: 0;
  padding: 0;
}

header {
    width: 100%;
    background-color: #3D3D45;
    position: fixed;
    top: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    z-index: 2;
}

.title {
  float: left;
  text-decoration: none;
  font-size: 1.4em;
  color: #FFFFFF;
  text-shadow: 5px 5px 5px #1E1E22;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-family: "Bookman Old Style", serif;
}
#main-menu {
    list-style: none;
    float: right;
    margin: 0 90px 0 0;
}

#main-menu li a {
    width: 150px;
    display: block;
    padding: 5px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1.1em;
    color: #fff;
    background: #4B4B55;
    text-decoration: none;
    text-shadow: 1px 1px 2px #1E1E22;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#main-menu ul {
    list-style: none;
    position: absolute;
    display: none;
}

#main-menu li a:hover {
    background: rgba(75, 75, 85, 0.8);

}

#main-menu li:hover ul {
    display: block;
    position: absolute;
}

/*главная страница*/
.firstpage{
	background-image: url('img/background.jpg');
	background-size: 100%;
  text-align: center;
}

#RegBlock,#AutBlock {
	width: 400px; /* Ширина слоя */
	margin: 0 auto;
  	margin-top: 50px;/* Значение отступов */
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	color: #273159;
	font-size: 14px;
	background-color: #FFFFFF;
  	box-shadow: 0 0 3px #999999;
  display: block;
}
#AutBlock {
  margin-top: 100px;
}
#firstpageavatar{
	width: 30%;
	height: 20%;
}
#RegBlock .input,
#AutBlock .input{
    padding: 6px 6px;
    width: 250px;
  	font-size:1em;
  	background: #FFFFFF;
  	text-overflow: ellipsis;
  	padding-bottom: 10px;
  	background-color: #FAFAFA;
  	border: 1px solid silver;
}
.firstpage h2{
  display:block;
  padding-top: 10px;
  font-family: "Andale Mono",monospace;
  background-color: inherit;

}
.firstpage strong{
  font-family: Noto Sans, sans-serif;
}
.input:valid{
    border-color: silver;
}
.input:required:invalid{
    border-color: silver;
}

.input::-webkit-input-placeholder {
   font-size: 14px;
}
.input:focus::-webkit-input-placeholder {
  color: transparent;
}

#RegBlock .button,
#AutBlock .button{
	background: #3897f0;
	border-color: #3897f0;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	font-weight: 600;
  line-height: 26px;
  width: 62%;
  cursor: pointer;
}
/*открытие своей фотографии*/
#darkbackground{
	background-color:rgba(0,0,0,.8);
}
#foto {
    float:right;
    margin:0;
    padding:0;
    width: 100%;
    max-width: 600px;
}
#avatar{
	float: left;
    margin-left: 1%;
    width: 50px;
    height: 50px;
    margin-top: 0;
    padding-right: 5px;
}
#asidepanel{
    padding: 5px;
    margin-left: 200px;
    float: left;
    width: 650px;
    background-color: transparent;
  }

#login{
    padding-top: 15px;
}
.inputComments{

    float:left;
    margin-top: 68%;
    font-size:20px;
    background: #FFFFFF;
    text-overflow:ellipsis;
    padding-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid silver;
}
.inputComments::-webkit-input-placeholder { font-size: 14px;
padding-left: 5px;
}
.inputComments:focus::-webkit-input-placeholder {color: transparent;}
.borderbottom{
    height: 53px;
    border-bottom: 1px solid silver;
}
#asidepanel2{
    background-color: #FFFFFF;
    padding: 5px;
    width: 250px;
    float: left;
    border-right: 1px solid #E9EBED;
    border-bottom: 1px solid #E9EBED;
    margin-top:5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    height: 100%;
}
/*сообщения*/
#wrapper{
  margin-top: 100px;
}
#asidepanel3{
  background-color: #FFFFFF; /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    margin-left: 200px;
    padding-bottom: 30%;
    float: left; /* Обтекание по правому краю */
    width: 250px; /* Ширина слоя */
    border-right: 1px solid #E9EBED;

  }
#asidepanel4{
    background-color: #FFFFFF; /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    padding-bottom: 2%;
    width: 600px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
    border-right: 1px solid #E9EBED;
    border-bottom: 1px solid #E9EBED;

}
.messagepanel{
  width: 100%;
  margin:0;
  padding: 5px;
  background-color: #E7EBF0;
}

.messagepanel:hover {
 background-color: #C9D7E1;
}
.messagepanel:active{
  background-color: #6490B1;
}
.inputMessage{
    float:left;
    margin-top: 80%;
    font-size:20px;
    background: #FFFFFF;
    text-overflow:ellipsis;
    padding-bottom: 10px;
    padding-right: 300px;
    background-color: #FAFAFA;
    border: 1px solid silver;
}
.inputMessage::-webkit-input-placeholder { font-size: 14px;
padding-left: 5px;}
.inputMessage:focus::-webkit-input-placeholder {color: transparent;}
.time{
  float:right;
}
.img{
    margin-left: 20%;
    float: left;
    margin-left: 1%;
    width: 40px;
    height: 40px;
    margin-top: 0;
}
/*Карта*/
#map {
  position: absolute;
  z-index: 0;
  width: 100%;
  margin-top: 55px;
  height: 94%;

}
/*Карта*/
/* Скрытый блок */
#hidden_panel, #markerHiddenPanel {
  position: fixed; 
  top: 100px; 
  left: -320px; 
  background: lavender; 
  color: #000; 
  width: 300px; 
  height: 90%; 
  padding: 10px; 
  text-align: left; 
  z-index: 100;


  -webkit-transition-duration: 0.3s; 
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-border-radius: 0 5px 5px 0; 
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/*Закрытие*/
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }
#hidden_panel .input{
    margin-top: 2%;
    width: 90%;
}
#descriptionInput{
  padding-bottom: 50%;
}
#hidden_panel .button{
    margin-top: 10%;
}
#hidden_panel p , #markerHiddenPanel{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  margin-top: 7%;
}
#privacyList{
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow: hidden;
    margin-top: 2%;
         
}
#privacyListSelect{
   border: none;
   width: 80%;\
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: url(../static/img/caret.png) no-repeat right;
  background-color: #fff;
  border: 1px solid silver;
   line-height: 2;
}
#privacyListSelect option : hover{
  background-color: #000;
}
     


/*стили друзей*/
.list {
    width: 930px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 0 3px #999999;
    background: #F3F3F1;
}

.list a{
    text-decoration: none;
    font-size: 16px;
}

h2{
    display: inline;
    font-size: 25px;
    font-family: "Century Gothic", serif;
    background: #F3F3F1;
    color: #3B3B3B;
}

.friends{
    border-top: 1.5px solid #E3E3E3;
    width: 100%;
    height: 80px;
    border-radius: 4px;
}

.avatar {
    float: left;
    width: 80px;
    height: 80px;
}

.avatar img{
    width: 100%;
    height: 100%;
}

.friend-menu a{
    float:right;
    widht:10px;
    margin-right: 10px;
    color: #444444;
}

.message a{
    width: 170px;
    height: 25px;
    font-size: 16px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #74D27F;
    text-align: center;
    float: left;
    margin: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.name a{
    color: #444444;
}
/*мой профиль*/
.myprofile{
  font-stretch: semi-condensed;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 930px;
  margin: 50px auto;
  padding: 15px;

  }

  #myavatar{
  float: left;
  margin: 12px;
  }

  .nick {
    margin-top: 30px;
    margin-left: 300px;
    display: block;
    font-size: 2em;
    font-family: tempus sans itc, sans-serif;
  }
  .myprofile ul{
      list-style: none;
      margin-left: 200px;
      margin-top: 25px;
      font-size: 1em;
    }

    .notes{
      width: 930px;
      margin: 10px auto 0;
      text-align: center;
      box-shadow: 0 0 3px #999999;
      background: #F3F3F1;
      padding: 15px;
  }
  .photo{
      display: inline-block;
      width: 250px;
      height: 250px;
      margin: 30px 20px;
  }

  .photo-1{
      width: 240px;
      height: 240px;
     }
  .image {
      border-radius: 10px;
      box-shadow: 0 0 12px #999999;
  }

  figcaption{
      text-align: center;
      font-weight: bold;
      box-shadow: 0 0 18px #999999;
      border-radius: 5px;
  }

  h3 {
      font-size: 25px;
      color: #3B3B3B;
      font-family: "Century Gothic", sans-serif;
      text-align: left;
  }

h4 {
    margin: 0 100px 0 0;
    font-size: 20px;
    color: #3B3B3B;
    font-family: "Century Gothic", serif;
}
/*стили таблицы профилей*/

caption{
   color: #525252;
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 200%;
   margin-top: 30px;
 }

 .name{
   color: maroon;
}
/*настройка профиля*/
.list-1{
    width: 930px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 0 3px #999999;
    background: #F3F3F1;
    font: 1.2em "Roboto", sans-serif;
}

.contact_form *:focus{
  outline: none;
}

.contact_form ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.contact_form li{
  padding: 8px;
  border-bottom: 1px solid #D3D3D3;
}

.contact_form label {
  width:200px;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px;
}

.contact_form input{
  height: 20px;
  padding: 4px 8px;
}

.contact_form textarea{
  padding: 8px;
}

button.submit{
  background-color: #1DB77F;
  padding: 10px;
  color: #FFFFFF;
  border: 1px solid #D3D3D3;
}

button.submit:hover{
  opacity:.75;
  cursor: pointer;
}

button.submit:active{
  border: 1px solid #888C8D;
}

textarea{
  resize: none;
}

/*Почта*/
#email{
  margin: 0 auto;
  margin-top: 120px;
  width:500px;
  box-shadow: 0 0 3px #999999;
  background: #FFFFFF;
  text-align: center;
  padding: 20px;
}
#email p{
  font-family: "Segoe UI",sans-serif;
  font-size: 1em;
}
#email h1{
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}


