[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-mail = "*"
flask-uploads = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flask-migrate = "*"


[dev-packages]

