[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
flask = "*"
flask-mysql = "*"
pymysql = "*"
flask-mysqldb = "*"
flask-mail = "*"
flask-uploads = "*"
flask-sqlalchemy = "*"


[dev-packages]

