<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>Geographical social network (GSN)</title>
    </head>
  <body>
    <div id="email">
      <h1>Подтверждение регистрации</h1>
      <img src="../static/img/email.png" alt="">
      <p>Спасибо за регистрацию на нашем сайте.</p>
      <p>Для завершения, пожалуйста, пройдите по ссылке, высланной на Вашу электронную почту.</p>
      <a href="#">Вернуться на страницу авторизации</a>
    </div>
  </body>
</html>
