{% extends "Header.html" %}
{% block content %}
<div id = 'lll'>
      <div  id = 'sideDialogPanel'>
      </div>
      <div id="msg-box0">
        <li id = 'memberNamePanel'></li>
      <div id="msg-box" >
          <div id = "msg-box1">
          <li></li>
           </div>
           <form id="t-box">
                <input type="text" placeholder="Write a message..." id='msg' name='msg'>
                <button class= "button" type="submit"  value= "отправить" >Отправить</button>
          </form>
       </div>
      </div>
      
    </div>

<script type="text/javascript">
var socket;
var count = 0;
var chatId;
var inform = [];
var inform1 = [];

// Текущее значение chat_id
var main_chat_id;

function removeChild(){
      var elem =  document.getElementById('msg-box1');
      while (elem.lastChild) {
             elem.removeChild(elem.lastChild);
    }
    }

function removeChildFromMemberPanel(){
      var elem =  document.getElementById('memberNamePanel');
      while (elem.lastChild) {
             elem.removeChild(elem.lastChild);
    }
    }

//function deleteMessage(span_number) {
//  span = inform1[span_number];
//  alert(span);
//      $.ajax({
//        type: 'GET',
//        url: "/delete/" + span.getAttribute('name') ,
//        async:false,
//        success: function() {
//          
//      }
//      });
//   }

//function addListeneresToDeleteButton(){
//      for (var i = 0; i < inform1.length; i++) {
//        console.log(inform1);
//        var newSpan=inform1[i];
//        inform1[i].setAttribute('onclick' , function(i) {
//        return function() {
//        deleteMessage(i);
//        }
//      }(i))
//      }
//    }


function addListeneres(){  
  for (var i = count; i < inform.length; i++) {
    var newLi=inform[i];
    count++;
    newLi.addEventListener( 'click' ,  function(newLi) {
    return function() {
      initDialog(newLi);
    }
    }(newLi))
  }
}



// Function initialization dialog
initDialogs();
    function initDialog(name){
    chatId = name.getAttribute('name');
    removeChild();
    removeChildFromMemberPanel()
    var memberName = name.getAttribute('value');
    var newSpan1 = document.createElement('span');
    newSpan1.innerHTML = memberName;
    document.getElementById('memberNamePanel').appendChild(newSpan1);
    $.ajax({
            type: 'GET',
            url: "/get_messages/" + name.getAttribute('name') ,
            async:false,
            success: function(data) {
              main_chat_id = name.getAttribute('name');
              data = JSON.parse(data);
              for(var i=0; i<data.length;i++) {
                var info = data[i];
                var newLi = document.createElement('li');

                if(info.current_user == info.author_id){
                  //var newSpan = document.createElement('span');
                  //newSpan.classList.add('close');
                  //newSpan.classList.add('closee');
                  //newSpan.setAttribute('name' , info.message_id);
                  //newSpan.setAttribute('onclick' , deleteMessage($(this).attr('name')));
                  //console.log(newSpan);
                  //newLi.appendChild(newSpan);
                  //inform1.push(newSpan);
                  newLi.innerHTML = newLi.innerHTML + "<div> <img class=\"avaCirSiz\" src=\"../static/img/user/"+ info.ava +"\" width=\"50\" height=\"50\"/>"  + "<li class = \"postData\">" + info.time+ "</li>" + "<li class = \"boldName\">" + info.author_fullname+ "</li>" +"<li>" +info.text+"</li>"  +  "</div>";
                }
                else {
                  newLi.innerHTML = "<div> <img class=\"avaCirSiz\"  src=\"../static/img/user/"+ info.ava +"\" width=\"50\" height=\"50\"/>" + "<li class = \"postData\">" + info.time+ "</li>" + "<li class = \"boldName\">" + info.author_fullname+ "</li>" +"<li>" +info.text+"</li>"  +  "</div>";
                }
                newLi.setAttribute('name',info.message_id);
                document.getElementById('msg-box1').appendChild(newLi);
              }
            }
    });
    //addListeneresToDeleteButton();
}




// Function initialization chats
function initDialogs(){
  $.ajax({
          type: 'GET',
          url: "/get_chats/",
          async:false,
          success: function(data) {
            data = JSON.parse(data);
            for(var i=0; i<data.length;i++){
              var info = data[i];
              var newLi = document.createElement('li');
              inform.push(newLi);
              newLi.innerHTML ="<div><img class=\"avaCirSiz\"  src=\"../static/img/user/"+ info.ava +"\" width=\"50\" height=\"50\"/>" + "<li class = \"boldName\">" + info.member + "</li>" +"<li>" +  info.last_message_body +"</li>" + "</div>";
              newLi.setAttribute('name', info.chat_id);
              newLi.setAttribute('value', info.member);
              document.getElementById('sideDialogPanel').appendChild(newLi);
            }
   }
  });
  addListeneres();
}




// Ловим отправку сообщения и отсылаем его на сервер
$("#t-box").submit(function(){
  var str = $(this).serialize();
  str = str + '&chat_id=' + main_chat_id;
  $.ajax({
    type: 'POST',
    url: '/send/',
    async:false,
    data: str,
    success: function(data){
        data = JSON.parse(data);
        for(var i=0; i<data.length;i++){
          var info = data[i];
          var newLi = document.createElement('li');
          newLi.innerHTML = "<div><img class=\"avaCirSiz\"  src=\"../static/img/user/"+ info.ava +"\" width=\"50\" height=\"50\"/>"  + "<li class = \"boldName\">" + info.name+ "</li>" +"<li>" + info.text +"</li>" + "</div>";
          document.getElementById('msg-box1').appendChild(newLi);
          //document.getElementById('msg').setAttribute('value', "Перзагрузите страницу для отправки сообщения");
          //document.getElementById('msg').innerHTML="Перзагрузите страницу для отправки сообщения";
          location.reload();
        }
    },
  })
  return false;
})




</script>
</body>
</html>
{% endblock %}