  {% extends "Header.html" %}
  {% block content %}
        <section>
        	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div id= "ph">
				<span class="close" onclick="closePostsPanel()"></span>
				<button class="button" id= "addPostButton">Добавить пост</button>
				<div id="ws">
				</div>
        </div>

        <div id="panel"> 
		    <form id="loadImg" enctype=multipart/form-data>
			<span class="close" onclick="closeLoadPostPanel()"></span>
				<input id="uploadName" class="input" type="text" name="markerTitle" placeholder="Введите название" required="">
				<input id="uploadimage" type=file name=file>
				<input id="uploadText" class="input" type="text" name="markerTitle" placeholder="Введите текст" required="">
				<input id="addPost" type=submit value=Upload>
			</form>
				
          <form id="hidden_panel">
              <span class="close" onclick="closePanel()"></span>
              <p>Название вашей метки: </p>
              <input id="tIn" class="input" type="text" name="markerTitle" placeholder="Введите название вашей метки" required="">
              <p>Кто может видеть вашу метку:</p>
              <div id="privacyList">
              <select  id="prIn">
                <option value="2">Все</option>
                <option  value="1">Только друзья</option>
                <option value="0">Только я</option>
              </select>
              </div>
              <p>Описание вашей метки:</p>
              <input class="input" id="dIn" type="text" name="markerDescription" placeholder="Введите описание вашей метки">
              <button class="button">Добавить</button>
         		 </form>
        	</div>
	     </div>
            <div id = "markerHiddenPanel">
			<span class="close" onclick="closeMarkerPanel()"></span>
			  <p id="Aut">Автор метки: </p>
			  <p id="Crt">Создана: </p>
              <p id="Lbl">Название метки: </p>
              <p id="Dsp">Описание метки:</p>
               <button class="button" id= "showCommentsButton">Показать комметарии</button>  
			   <button class="button" id= "showPostsButton">Показать посты</button>
			   <button class="button" id="del">Delete</button>
               </div>
        </div>
        <form id = "mCP">
                <span class="close" onclick="closeMarkerCommentPanel()"></span>
				<input id="cIn" class="input" type="text" name="markerTitle" placeholder="Введите текст комментария" required="">
				<button class="button" id= "addCommentsButton">Добавить коментарий</button>
				<div id="mCP1">
				</div>
            </form>
          <div id="map"></div>
              <script type="text/javascript">
			  
			
		var focusOn;
		var focusPhoto=-1;	  
		function closePostsPanel(){
			$('#ph').animate({'left':'-550px'},100);
		}
		function closePanel(){
			$('#hidden_panel').animate({'left':'-320px'},100);
			$("#tIn").val("");
			$('#prIn').val(2);
			$("#dIn").val("");
		}
		function closeMarkerPanel(){
			document.getElementById('del').style.display = 'none';
			$('#markerHiddenPanel').animate({'left':'-320px'},100);
    }
		function closeMarkerCommentPanel(){
			focusPhoto=-1;
			$("#cIn").val('');
			$('#mCP').animate({'left':'-320px'},100);
    }
		function closeLoadPostPanel(){
		$('#uploadName').val("");
		$('#uploadText').val("");
		$('#uploadimage').val("");
        $('#loadImg').animate({'left':'-320px'},100);
    }
	
		
		var markers=[];
        var map;
		var markerCluster;
        function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          minZoom: 2,
          center: {lat: 46.024, lng: 40.887}
        });

		
		getMarkers();
		
		function getMarkers() {
		$.ajax({
					
                    type: 'GET',
                    url: "/get_locations/",
					async:false,
                    success: function(data) {
						markers=[];
						data=JSON.parse(data);
						for(var i=0;i<data.length;i++){
							var loc=data[i];
							var marker=new google.maps.Marker({
							position: {
							lat: loc.lat, 
							lng: loc.lng},
							title: loc.title,
							description: loc.description,
							id: loc.id,
							map: map,
							author_id: loc.author_id,
							priv:loc.priv
							//,dateTime:loc.dateTime
							});			

							if(marker.priv==0){
								marker.setDraggable(true);
								marker.setIcon('../static/img//private-icon.png');
								google.maps.event.addListener( marker, "dragend", function(marker) {
			  					return function() {
								     var position = marker.getPosition();
								     $.ajax({
										type: 'POST',
										url: "/update_private/",
										data: {  
										"id":marker.id,
										"c1": position.lat(), 	
										"c2":position.lng(),	
										}
									});
									 } }(marker));
								}
							markers.push(marker);
                    } 
			     }
			 });
				 addMarkerListeners();

				//Add a marker clusterer to manage the markers
                markerCluster = new MarkerClusterer(map, markers,
				{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});				
				
		}
		
		function addMarkerListeners() {

		  if (markers.length > 0) {
			for (var i = 0; i < markers.length; i++) {

			  // function closure on the "i" variable
			  google.maps.event.addListener(markers[i], 'click', (function(i) {
			  return function() {
							$("#Crt").text("Создана: "+markers[i].dateTime);
							$("#Lbl").text("Название метки: "+markers[i].title);
							$("#Dsp").text("Описание метки: "+markers[i].description);
							$("#markerHiddenPanel").animate({'left':'0'},100);
							focusOn=markers[i];	
							$.ajax({
							type: 'POST',
							url: "/focus_pin/",
							data: {  
								"id":focusOn.id,
								},
							success: function(data) {
								data=JSON.parse(data);
								$("#Aut").text("Количество заметок: "+data.c);
							}});	
							if(markers[i].priv==0){
							document.getElementById('del').style.display = 'block';			
							document.getElementById('del').addEventListener('click', function(i) {
								return function() { 
										$.ajax({
										type: 'POST',
										url: "/delete_pin/",
										data: {  
										"id":markers[i].id	
										},success: function() { closeMarkerPanel();  markers[i].setMap(null);}
									}); }
							}(i));
							}else document.getElementById('del').style.display = 'none';

			  }})(i));
			}
		  }
		}

		
      	var addLocation; 
		//place marker on rightclick
        google.maps.event.addListener(map, 'rightclick', function(event) {
		        $('#hidden_panel').animate({'left':'0'},100);
                map.setCenter(event.latLng);
				addLocation=event.latLng;	
				closeMarkerPanel();
		});
        //search on map processing
        var input = document.getElementById("pac-input");
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

         searchBox.addListener('places_changed', function() {
          		var places = searchBox.getPlaces();
	     		
            	 var bounds= new google.maps.LatLngBounds();

            	 if (places[0].geometry.viewport) {
            		  bounds.union(places[0].geometry.viewport);
            	} else {
              		bounds.extend(places[0].geometry.location);
            	}
          		map.fitBounds(bounds);
         	});
   
		//add marker 
		document.getElementById("hidden_panel").onsubmit=placeMarker;
		function placeMarker() {
			
			var marker=new google.maps.Marker({
					position: addLocation});
			$.ajax({
                    type: 'POST',
                    url: "/add_pin/",
					async: false,
				    data: {  
						"c1": marker.getPosition().lat(), 	
						"c2": marker.getPosition().lng(),	
						"title":$("#tIn").val(),	
						"priv":$('#prIn').val(),	
						"dsp":$("#dIn").val()
						},
                    success: function(data) {
                    }});
			closePanel();
			addLocation=null;
			$("#tIn").val("");
			$('#prIn').val(2);
			$("#dIn").val("");
			getMarkers(); 
			return false;
		};
	  		
	}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//displaying comments 
		document.getElementById("showCommentsButton").onclick=getComments;
		function getComments() {    
			$('#mCP').animate({'left':'0'},100);
			document.getElementById('mCP1').innerHTML='';
			document.getElementById('cIn').innerHTML='';
			commentsRequest(focusOn.id, 0);		
			closeMarkerPanel();
		};		

		function getCommentsPhoto(id) {    
			$('#mCP').animate({'left':'0'},100);
			document.getElementById('mCP1').innerHTML='';
			document.getElementById('cIn').innerHTML='';
			commentsRequest(id, 1);		
			closeMarkerPanel();
		};		

		function commentsRequest(id,type){

				$.ajax({
                    type: 'GET',
                    url: "/get_comments/",
					async: false,
				    data: {  
						"id": id,
						"type": type
						},
                    success: function(data) {

						data = JSON.parse(data);
						for(var i = 0; i<data.length; i++ ){
							info = data[i];
							var id=info.id;
							var newLi = document.createElement('li');
							
          					newLi.innerHTML ="<div class=\"border\">" +  "<li class=\"postData\">" + info.date
          					 	+ "</li>" + "<li class=\"boldName\">" + info.author + "</li>" +"<li>" +  info.text 
          					 	+ "</li>" +"<li><div class = \"likes\" id= \"LikeC"+id+"\">"
          					 	+"<img class=\"limg\"  src=\"../static/img/like.png\">"+info.likes+"</div> </li>"+"</div>";
							
          					document.getElementById('mCP1').appendChild(newLi);
							
							document.getElementById('LikeC'+id).addEventListener('click', function(id) {
								return function() { addLikeComment(id); }
							}(id));
						}
                    }});
				document.getElementById('mCP1').scrollTo(0,0);
		}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//adding comment to pin
		document.getElementById("mCP").onsubmit=function(){
			var comm=$("#cIn").val();
			$("#cIn").val('');
			var type=0;
			var id;
			if(focusPhoto!=-1){
				id=focusPhoto;
				type=1;
			} else
				id=focusOn.id;
			$.ajax({
                    type: 'POST',
                    url: "/add_pin_comment/",
                    async:false,
				    data: {  
						"text": comm,
						"id": id,
						"type":type
						},
					success: function(data) {

						info=JSON.parse(data);
						var id=info.id;
						var newLi = document.createElement('li');
							
          				newLi.innerHTML ="<div class=\"border\">"+ "<li class=\"postData\">" + info.date + "</li>"
          				  + "<li class=\"boldName\">" + info.author + "</li>" 
          				  +"<li>" +  info.text +"</li>" 
          				  +"<li><div class=\"likes\" id=\"LikeC"+id+"\">"+"<img class=\"limg\" src=\"../static/img/like.png\">"+info.likes+"</div> </li>"+"</div>";
						
          				document.getElementById('mCP1').appendChild(newLi);
						document.getElementById('LikeC'+id).addEventListener('click', function(id) {
							return function() {   addLikeComment(id); }
						}(id));
						document.getElementById('mCP1').scrollTo(0,0);
                    }
			});
			
			return false;
		}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//add post functions
			document.getElementById("addPostButton").onclick=function(){
			closePostsPanel();
			$('#loadImg').animate({'left':'0'},100);
		}
		
		document.getElementById("addPost").onclick=addPost;
		    function addPost() {
				event.stopPropagation(); // Stop stuff happening
				event.preventDefault();
				//var $input = $("#uploadimage");
				var fd = new FormData;
				var mtd;
				
				fd.append('title', $('#uploadName').val());
				fd.append('marker_id', focusOn.id);
				fd.append('text', $('#uploadText').val());
				if(document.getElementById("uploadimage").files[0] != null){
					fd.append('type','1');
					fd.append('file', document.getElementById("uploadimage").files[0]);
					}
				else fd.append('type','0');
									
				
				$.ajax({
					type: 'POST',
					url: "/new_post/",
					data: fd,
					processData: false,
					contentType: false,
					async: false,		//try sync
					success: function (data) {
						
					}
				});
				showPosts();
				closeLoadPostPanel();
				return false;
	}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//likes functions
		function addLikeComment(id){
				$.ajax({
					type: 'POST',
					url: "/like_comment/",
					data: {"id": id},
					success: function (data) {
					
					data=JSON.parse(data);
					document.getElementById('LikeC'+id).innerHTML="<img class=\"limg\" src=\"../static/img/like.png\">"+data.l;
					}
				});
		}
		
		function addLikePost(id){
				$.ajax({
					type: 'POST',
					url: "/like_photo/",
					data: {"id": id},
					success: function (data) {
						data=JSON.parse(data);
						document.getElementById("LikeP"+id).innerHTML="<img class=\"limg\" src=\"../static/img/like.png\">"+data.l;
					}
				});
		}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//onscroll ajax query 
		var count = 10;  //rel to query limit in map.py,need sync on change
		var begin = count;
		var isLast;
		document.getElementById("showPostsButton").onclick=function(){
			closeMarkerPanel();
			showPosts();
		}
		function showPosts(){
			begin=count;
			$('#ph').animate({'left':'0'},100);
			$('#ph').on("scroll", scrolling);
			document.getElementById("ws").innerHTML='';
			isLast=false;
			loader();
		}

		
		function scrolling(){
			var currentHeight = $(this).children("#ws").height();

			if($(this).scrollTop() >= (currentHeight - $(this).height()-100)){
				$(this).unbind("scroll");
				loader();
				}
		}
		
	
		
		function loader(){   
			$.ajax({
				type:"POST",
				url:"/get_post/",
				data:{
					"begin": begin,
					"id": focusOn.id
				},

				success:onAjaxSuccess
			});
			
			function onAjaxSuccess(data){

				if(data=="[]")
					isLast=true;
				data=JSON.parse(data);

				var newD = document.createElement('div');
				for(var i=0;i<data.length;i++){
					info = data[i];
					var id=info.id;
					var newLi = document.createElement('li');
					if(info.photo_ref != "No photo")		
						newLi.innerHTML ="<div class=\"border\"><li>" + info.title + "</li>"+ "<li class=\"postData\">" + info.date + "</li>" 
							+"<li class=\"boldName\" >" + info.author + "</li>" 
						    +"<div class=\"imageBlock\"><img  class=\"imageBlock2\" src=\""+info.photo_ref+"\" alt=\""+info.title+"\"/>"
							+"<li class=\"textBlock\">" +  info.text + "</li></div>"
							+"<li><div class = \"likes\" id= \"LikeP"+id+"\">"+"<img class=\"limg\" src=\"../static/img/like.png\">"+info.likes+"</div> </li>"
							+"<li id=\"CommP"+id+"\">Comments</li></div>";
					else
						newLi.innerHTML ="<div class=\"border\"><li>" + info.title + "</li>" + "<li class=\"postData\">" + info.date + "</li>" 
							+"<li class=\"boldName\">" + info.author + "</li>" +"<li>" +  info.text + "</li>" 
							+"<li><div class = \"likes\" id= \"LikeP"+id+"\">"+"<img class=\"limg\" src=\"../static/img/like.png\">"+info.likes+"</div> </li>"
							+"<li id=\"CommP"+id+"\">Comments</li></div>";
					
					
					newD.appendChild(newLi);
          			var container=document.getElementById('ws');
					
					container.insertBefore(newD, container.firstChild);
					document.getElementById('LikeP'+id).addEventListener('click', function(id) {
						return function() { addLikePost(id); }
					}(id));

					document.getElementById('CommP'+id).addEventListener('click', function(id) {
						return function() { focusPhoto=id; getCommentsPhoto(id); }
					}(id));
					
				}
				if(isLast==false)
					$("#ph").on("scroll", scrolling);
				}
				begin+=count;
		}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

			
			
	
	</script>
	
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
          <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYtyRt73Xs-p8BreI0yAC259MGWn5pQx4&callback=initMap&libraries=places">
    </script>

        </section>
      </body>
</html>
{% endblock %}