  {% extends "Header.html" %}
  {% block content %}
        <section>
        <div id="panel"> 
          <form id="hidden_panel">
              <span class="close" onclick="closePanel()"></span>
              <p>Название вашей метки: </p>
              <input id="tIn" class="input" type="text" name="markerTitle" placeholder="Введите название вашей метки" required="">
              <p>Кто может видеть вашу метку:</p>
              <div id="privacyList">
              <select  id="prIn">
                <option value="2">Все</option>
                <option  value="1">Только друзья</option>
                <option value="0">Только я</option>
              </select>
              </div>
              <p>Описание вашей метки:</p>
              <input class="input" id="dIn" type="text" name="markerDescription" placeholder="Введите описание вашей метки">
              <button class="button">Добавить</button>
          </form>
        </div>
	       </div>
            <div id = "markerHiddenPanel">
			<span class="close" onclick="closeMarkerPanel()"></span>
			  <p id="Aut">Автор метки: </p>
			  <p id="Crt">Создана: </p>
              <p id="Lbl">Название метки: </p>
              <p id="Dsp">Описание метки:</p>
               <button class="button" id= "showCommentsButton">Показать комметарии</button>  
                <button class="button" id= "showPostsButton">Показать посты</button><!--TODO: add panel-->

            </div>
        </div>
        <form id = "mCP">
                <span class="close" onclick="closeMarkerCommentPanel()"></span>
				<input id="cIn" class="input" type="text" name="markerTitle" placeholder="Введите название вашей метки" required="">
				<button class="button" id= "addCommentsButton">Добавить коментарий</button>
				<div id="mCP1">
				</div>
            </form>
          <div id="map"></div>
              <script type="text/javascript">
			  


			
		var focusOn;	  

		function closePanel(){
			$('#hidden_panel').animate({'left':'-320px'},100);
			$("#tIn").val("");
			$('#prIn').val(2);
			$("#dIn").val("");
		}
		function closeMarkerPanel(){
			$('#markerHiddenPanel').animate({'left':'-320px'},100);
    }
     function closeMarkerCommentPanel(){
      $('#mCP').animate({'left':'-320px'},100);
    }
				
		var markers=[];
        var map;
		var markerCluster;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: 46.024, lng: 40.887}
        });
		
		getMarkers();
		
		function getMarkers() {
		$.ajax({
					
                    type: 'GET',
                    url: "/get_locations/",
					async:false,
                    success: function(data) {
						markers=[];
						data=JSON.parse(data);
						for(var i=0;i<data.length;i++){
							var loc=data[i];
							var marker=new google.maps.Marker({
							position: {
							lat: loc.lat, 
							lng: loc.lng},
							title: loc.title,
							description: loc.description,
							id: loc.id,
							map: map,
							author: loc.author
							//,dateTime:loc.dateTime
							});			
														
							markers.push(marker);
						} 
                    } 
				});
				 addMarkerListeners();

				//Add a marker clusterer to manage the markers.
                markerCluster = new MarkerClusterer(map, markers,
				{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});				
				
		};
		
		function addMarkerListeners() {
		  if (markers.length > 0) {
			for (var i = 0; i < markers.length; i++) {

			  // function closure on the "i" variable
			  google.maps.event.addListener(markers[i], 'click', (function(i) {
			  return function() {
							$("#Aut").text("Автор метки: "+markers[i].author);
							$("#Crt").text("Создана: "+markers[i].dateTime);
							$("#Lbl").text("Название метки: "+markers[i].title);
							$("#Dsp").text("Описание метки: "+markers[i].description);
							$("#markerHiddenPanel").animate({'left':'0'},100);
							focusOn=markers[i];				
			  }})(i));
			}
		  }
		}

		
      	var addLocation; 
			
        google.maps.event.addListener(map, 'rightclick', function(event) {
		        $('#hidden_panel').animate({'left':'0'},100);
                map.setCenter(event.latLng);
				addLocation=event.latLng;	
				closeMarkerPanel();
		});


		//write in backend and refresh map 
		document.getElementById("hidden_panel").onsubmit=placeMarker;
		function placeMarker() {
			
			var marker=new google.maps.Marker({
					position: addLocation});
			$.ajax({
                    type: 'POST',
                    url: "/add_pin/",
					async: false,
				    data: {  
						"c1": marker.getPosition().lat(), 	
						"c2": marker.getPosition().lng(),	
						"title":$("#tIn").val(),	
						"priv":$('#prIn').val(),	
						"dsp":$("#dIn").val()
						},
                    success: function(data) {
                    }});
			closePanel();
			addLocation=null;
			$("#tIn").val("");
			$('#prIn').val(2);
			$("#dIn").val("");
			getMarkers(); 
			return false;
		};
	  		
	}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		document.getElementById("showCommentsButton").onclick=function() {     //TODO: when form will be ready, replace with onscroll query   
		//TODO: show form
			$.ajax({
                    type: 'GET',
                    url: "/get_comments/",
					async: false,
				    data: {  
						"id": focusOn.id	
						},
                    success: function(data) {

						data = JSON.parse(data);
						for(var i = 0; i<data.length; i++ ){
							info = data[i];
							var newLi = document.createElement('li');
          					newLi.innerHTML ="<div>" + "<li>" + info.author + "</li>" +"<li>" +  info.text +"</li>" + "</div>";
          					document.getElementById('mCP1').appendChild(newLi);
						}
						$('#mCP').animate({'left':'0'},100);
                    }});
					
			closeMarkerPanel();
		};		
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		document.getElementById("mCP").onsubmit=addComment;
		function addComment(){

			//closeMarkerCommentPanel();
			$.ajax({
                    type: 'POST',
                    url: "/add_pin_comment/",
					async: false,
				    data: {  
						"text": $("#cIn").val(),
						"id":focusOn.id
						},
					success: function(data) {
						info=JSON.parse(data);
						var newLi = document.createElement('li');
						newLi.innerHTML ="<div>" + "<li>" + info.author + "</li>" +"<li>" +  info.text +"</li>" + "</div>";
						document.getElementById('mCP1').appendChild(newLi);
                    }
			});
			
			return false;
		}
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	</script>
	
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
          <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYtyRt73Xs-p8BreI0yAC259MGWn5pQx4&callback=initMap">
    </script>
        </section>
      </body>
</html>
{% endblock %}