<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../static/style.css">
  </head>
  <body>
    <header>
      <div>
  			 <div class="title"><img src="../../static/img/logo.png" height="45">Geographic social network</div>
  				<ul id="main-menu">
  					<li>
  						<a href="MyProfile.html"><img src="{{ava_ref}}" height="45"></a>
  						<ul>
  							<li><a href="Map.html">Карта</a></li>
  							<li><a href="Friends.html">Друзья</a></li>
  							<li><a href="Message.html">Сообщения</a></li>
  							<li><a href="MySettings.html">Настройки</a></li>
  							<li><a href="Main.html">Выход</a></li>
  						</ul>
  					</li>
  				</ul>
  		</div>
    </header>
    <section class="list"> 
        <h3>Подписчики <a href="{{url_for('.user', user_login=user.login)}}">{{user.login}}</a></h3>
        {% for follower in followers %}
        <div class="friend">
            <div class="avatar"><img src="{{follower.userpic()}}"></div>
            
            <a href="{{url_for('.user', user_login=follower.login)}}">  <div class="friend-name">{{follower.login}} </div> </a>
              <div class="message"><button type="button" name="message-button">Cообщение</button></div>
              {% if follower != current_user %}
              <br>
                  {% if not current_user.is_following(follower) %}
                  <a href="{{ url_for('.follow', user_login=follower.login) }}"><button type="button">Подписаться</button></a>
                  {% else %}
                  <a href="{{ url_for('.unfollow', user_login=follower.login) }}"><button type="button">Отписаться</button></a>
                  {% endif %}
              {% endif %}
        </div>
        {% endfor %}
    </section>
  </body>
</html>