{% extends "Header.html" %}
{% block content %}
    <div class="follow">
        <div class="title_friend1"><h3>Подписчики <a href="{{url_for('.user', user_login=user.login)}}">{{user.login}}</a></h3></div>
        {% for follower in followers %}
        <div class="list">
            <div class="avatar"><img src="{{follower.userpic()}}"></div>
            <a href="{{url_for('.user', user_login=follower.login)}}">  <div class="friend-name">{{follower.login}} </div> </a>
              
            {% if follower != current_user %}
            <div class="message"><a href= "{{ url_for('message.messages') }}"><button type="button" name="message-button">Cообщение</button></a></div>      
            {% if not current_user.is_following(follower) %}
                  <a href="{{ url_for('.follow', user_login=follower.login) }}"><button class="add " type="button">Подписаться</button></a>
                  {% else %}
                  <a href="{{ url_for('.unfollow', user_login=follower.login) }}"><button class="add del" type="button">Отписаться</button></a>
                  {% endif %}
              {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
