{% extends "Header.html" %}
{% block content %}
    <div class="follow">
      <div class="title_friend1"><h3> <a href="{{url_for('.user', user_login=user.login)}}">  {{user.login}} </a> подписан на:</h3></div>
        {% for followed in follows %}
        <div class="list">
            <div class="avatar"><img src="{{followed.userpic()}}"></div>
            <a href="{{url_for('.user', user_login=followed.login)}}">
            <div class="friend-name">{{followed.login}}</div>
            </a>
              {% if followed != current_user %}
              <div class="message"><a href= "{{ url_for('message.messages') }}"><button type="button" name="message-button">Cообщение</button></a></div>    
              {% if not current_user.is_following(followed) %}
                  <a href="{{ url_for('.follow', user_login=followed.login) }}"><button class="add" type="button">Подписаться</button></a>
                  {% else %}
                  <a href="{{ url_for('.unfollow', user_login=followed.login) }}"><button class="add del"type="button">Отписаться</button></a>
              {% endif %}
          {% endif %}
          </div>
        {% endfor %}
    </div>
    {% endblock %}
