<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Geographical social network (GSN)</title>
    </head>
    {% endblock %}
    <body>
      {% block header %}
      <header>
        <div>
          <div class="title"><img src="../static/img/logo.png" height="45">Geographic social network</div>
            <ul id="main-menu">
              <li>
                <a href="../user/{{username}}">Мой профиль<img src="../static/img/icon_to_bottom.png" height="40"></a>
                  <ul>
                    <li><a href="../map">Карта</a></li>
                    <li><a href="../friends">Подписки</a></li>
                    <li><a href="../message">Сообщения</a></li>
                    <li><a href="../myprofile">Настройки</a></li>
                    <li><a href="../logout">Выход</a></li>
                  </ul>
              </li>
            </ul>
        </div>
      </header>
      {% endblock %}
      <section id="content">{% block content %}{% endblock %}</section>
    </body>
</html>
