<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../static/style.css">
  </head>
  <body>
    <header>
      <div>
  			 <div class="title"><img src="../../static/img/logo.png" height="45">Geographic social network</div>
  				<ul id="main-menu">
  					<li>
  						<a href="MyProfile.html"><img src="../../static/img/avatar.png" height="45"></a>
  						<ul>
  							<li><a href="Map.html">Карта</a></li>
  							<li><a href="Friends.html">Друзья</a></li>
  							<li><a href="Message.html">Сообщения</a></li>
  							<li><a href="MySettings.html">Настройки</a></li>
  							<li><a href="Main.html">Выход</a></li>
  						</ul>
  					</li>
  				</ul>
  		</div>
    </header>
    <section class="myprofile">
     <div>
        <div class="nick">{{user.login}}</div>
       <img id="myavatar" src="{{ava}}" width="150" height="150"/>
       {% if user.is_following(current_user) %}
       <div>Follows you</div>
       {% endif %}
      
       <ul>
          <li>Имя: {{name}} </li>
          <li>Фамилия: {{surname}} </li>
          <li>Дата рождения: {{date}} </li>
          <li>Страна: {{country}} </li>
          <li>Город: {{city}} </li>
          <li><a href="{{ url_for('user.followers', user_login=user.login) }}">
              Followers: <span class="">{{ user.followers.count() }}</span>
              </a></li>
          <li><a href="{{ url_for('user.follows', user_login=user.login) }}">
              Following: <span class="">{{ user.follows.count() }}</span>
              </a></li>
          {% if user != current_user %}
          <li>
              {% if current_user.is_following(user) %}
              <a href="{{ url_for('user.unfollow', user_login=user.login) }}"><button type="button">Отписаться</button></a>
               {% else %}
               <a href="{{ url_for('user.follow', user_login=user.login) }}"><button type="button">Подписаться</button></a>
              {% endif %}
          </li>
          {% endif %} 
      </ul>
    </div>
       
       
    </section>
    
    <section class="content">
      <div class="slider" id="main-slider">
        <div class="slider-nav"><!-- Previous and Next  -->
          <a href="#" class="slider-previous">&#8249;</a>
          <a href="#" class="slider-next">&#8250;</a>
        </div>

        <div class="slider-wrapper">
          <div class="slide">
              <h3>Мои фотографии</h3>

              <ul class="photos">
                {% for photo in photos %}
                <div class="photo">
                  <a href="#"> {% if photo.photo_ref != None %} <img class="image" src="{{'/static/img/' + photo.photo_ref }}"> {% endif %}</a>
                </div>
                {% endfor %}
              </ul>
          </div>
          <div class="slide">
            <h3>Мои заметки</h3>
            {% for pin in pins %}
            <div class="notes">
              {{pin.descripion}}
            </div>
            {% endfor %}
        </div>
      </div>
     <script type="text/javascript">
     (function() {
     function Slideshow(element) {
     this.el = document.querySelector(element);
     this.init();
     }
     Slideshow.prototype = {
     init: function() {
       this.wrapper = this.el.querySelector(".slider-wrapper");
       this.slides = this.el.querySelectorAll(".slide");
       this.previous = this.el.querySelector(".slider-previous");
       this.next = this.el.querySelector(".slider-next");
       this.index = 0;
       this.total = this.slides.length;
       this.actions();
     },
     _slideTo: function(slide) {
       var currentSlide = this.slides[slide];
       this.wrapper.style.left = "-" + currentSlide.offsetLeft + "px";
     },
     actions: function() {
       var self = this;
       self.next.addEventListener("click", function() {
         self.index++;
         self.previous.style.display = "block";
         if (self.index == self.total - 1) {
           self.index = self.total - 1;
           self.next.style.display = "none";
         }
         self._slideTo(self.index);
       }, false);
       self.previous.addEventListener("click", function() {
         self.index--;
         self.next.style.display = "block";
         if (self.index == 0) {
           self.index = 0;
           self.previous.style.display = "none";
         }
         self._slideTo(self.index);
       }, false);
     }
     };
     document.addEventListener("DOMContentLoaded", function() {
     var slider = new Slideshow("#main-slider");
     });
     })();
     </script>
    </section>
  </body>
</html>

<!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} -->