{% extends "Header.html" %}
{% block content %}
<section class="list-1">
	<form enctype="multipart/form-data" method="post" action="{{ url_for('profile.upload') }}">
		<img src="{{ava}}" width="150" height="150"/>
		<input type="file" name="photo" required="" accept="image/*">
		<button class="submit" type="submit">Отправить</button>
	</form>
	<form method="post" name="contact_form" class="contact_form" action="">
   	<ul>
			<li>
				<li>
					<label for="name">Имя пользователя</label>
					<input type="text" name="name" {% if name!= None %} value="{{name}}" {% endif %} required="">
				</li>
				<li>
					<label for="surname">Фамилия</label>
					<input type="text" name="surname" {% if surname!= None %} value="{{surname}}" {% endif %} >
				</li>
				<li>
					<label for="email">E-mail</label>
					<input type="email" {% if email!= None %} value="{{email}}" {% endif %} name="email" maxlength="30">
				</li>
				<li>
				<label for="sex">Пол</label>
						<input type="radio" class="radio" name="sex" value="man"{% if sex=='man' %}checked{% endif %}>
						мужской
						<input type="radio" class="radio" name="sex" value="woman" {% if sex=='woman' %}checked{% endif %}>
						женский
				</li>
				<li>
					<label for="country">Страна</label>
					<input type="text" name="country" placeholder="Украина" {% if country!= None %} value="{{country}}" {% endif %}>
				</li>
				<li>
					<label for="city">Город</label>
					<input type="text" name="city" placeholder="Одесса" {% if city!= None %} value="{{city}}" {% endif %} >
				</li>
				<li>
					<label>Дата рождения</label>
					<input type="date" id="date" name="date" {% if date!= None %} value="{{date}}" {% endif %} >
				</li>
				<li>
					<label for="tel">Номер телефона</label>
					<input type="tel" name="telephone" id="tel" {% if telephone!= None %} value="{{telephone}}" {% endif %} maxlength="20">
				</li>
				<li>
					<label for="about">О себе</label>
					<textarea name="about" rows="4" cols="40" maxlength="200"> {% if about!= None %} {{about}} {% endif %} </textarea>
				</li>
				<li>
				<button class="submit" type="submit">Отправить</button>
				</li>
			</li>
   	</ul>
	</form>
</section>
{% endblock %}
