<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>Geographical social network (GSN)</title>
    </head>
    <body>
      <header>
        <div>
           <div class="title"><img src="../static/img/logo.png" height="45">Geographic social network</div>
            <ul id="main-menu">
              <li>
                <a href="MyProfile.html"><img src="../static/img/avatar.png" height="45"></a>
                <ul>
                  <li><a href="Map.html">Карта</a></li>
                  <li><a href="Friends.html">Друзья</a></li>
                  <li><a href="Message.html">Сообщения</a></li>
                  <li><a href="#">Комментарии</a></li>
                  <li><a href="MySettings.html">Настройки</a></li>
                  <li><a href="Main.html">Выход</a></li>
                </ul>
              </li>
            </ul>
        </div>
    </header>
      <section class="list"> <!--  Friends list   !-->
        <h3>Ваши друзья</h3>
          <div class="friend">
            <div class="avatar"><a href=#><img src="../static/img/avatar1.png"></a></div>
            <div class="friend-name">@name
              <div class="message"><button type="button" name="message-button">Cообщение</button></div>
              <div class="delete"><button type="button" name="delete"></button></div>
              </div>
          </div>
          <div class="friend">
            <div class="avatar"><a href=#><img src="../static/img/avatar4.png"></a></div>
            <div class="friend-name">@name
              <div class="message"><button type="button" name="message-button">Cообщение</button></div>
              <div class="delete"><button type="button" name="delete"></button></div>
              </div>
          </div>
    </section>
  </body>
</html>
