<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Название</title>
		<link href = "../static/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body class="firstpage">
	 		<header>
				<div>
					<div class="title"><img src="../static/img/logo.png" height="45">Geographic social network</a></div>
				</div>
      </header>
				<div id='AutBlock'>
          <h2>Sign In</h2><br>
{% if error %}<div class="error"><strong>Message:</strong> {{ error }}</div>{% endif %}
		 				<form method="post" name="form" action="/login">
		         			<input class="input" type="text" name="login" required="" placeholder="Логин"/><br /><br />
		      				<input class="input" type="password" name="password" required="" placeholder="Пароль" /><br /><br />
		      				<button class="button">Войти</button></a></br>
						</form>
				</div>
					<script type="text/javascript">
					</script>
	</body>
</html>
