<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/main.css">
        <title>Geographical social network (GSN)</title>
    </head>
    <body>
    <script src="Header.js" type="text/javascript"></script>

      <section class="list"> <!--  Friends list   !-->
        <h2>Ваши друзья</h2>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar1.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar2.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar3.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar4.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar5.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar6.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar7.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
    </section>
