<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>Geographical social network (GSN)</title>
    </head>
      <body>
          <header>
            <div>
               <div class="title"><a href="#">Geographic social network</a></div>
                <ul id="main-menu">
                  <li>
                    <a href="#">Мой профиль</a>
                      <ul>
                        <li><a href="#">Карта</a></li>
                        <li><a href="#">Друзья</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li><a href="#">Комментарии</a></li>
                        <li><a href="#">Заметки</a></li>
                        <li><a href="#">Настройки</a></li>
                        <li><a href="#">Выход</a></li>
                      </ul>
                  </li>
                </ul>
                 <div class="logo"><a href="#"><img src="../static/img/avatar.png" style="height: 45px;" /></a></div>
            </div>
        </header>
      </body>
</html>
