<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Название</title>
		<link href = "../static/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body>
	<script src="Header.js" type="text/javascript"></script>
	   <div id="wrapper">
			<div id ='asidepanel3'>
				<div o class="messagepanel">
					<div class="time">
					10:15
					</div>
					<div>
					<img class="img" src="../static/img/avatar4.png">
					Олег Петров
					</div>
					<div>
					Привет!
					</div>
				</div>
				<div  class="messagepanel">
					<div class="time">
					12:15
					</div>
					<div>
					<img class="img" src="../static/img/avatar2.png">
					Олег Петров
					</div>
					<div>
					Привет!
					</div>
				</div>
				<div class="messagepanel">
					<div class="time">
					15:15
					</div>
					<div>
					<img class="img" src="../static/img/avatar5.png">
					Олег Петров
					</div>
					<div>
					Привет!
					</div>
				</div>
			</div>
			<div id='asidepanel4'>
				<input class="inputMessage" type="text" name="comment" placeholder="Ваше сообщение...">
			</div>
		</div>
    </body>
</html>
