<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Название</title>
		<link href = "../static/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body>
		<header>
			<div>
				 <div class="title"><a href="MyProfile.html"><img src="../static/img/logo.png" height="45">Geographic social network</a></div>
					<ul id="main-menu">
						<li>
							<a href="MyProfile.html"><img src="../static/img/avatar.png" height="45"></a>
							<ul>
								<li><a href="Map.html">Карта</a></li>
								<li><a href="Friends.html">Друзья</a></li>
								<li><a href="Message.html">Сообщения</a></li>
								<li><a href="#">Комментарии</a></li>
								<li><a href="Notes.html">Заметки</a></li>
								<li><a href="MySettings.html">Настройки</a></li>
								<li><a href="Main.html">Выход</a></li>
							</ul>
						</li>
					</ul>
			</div>
	</header>

	   <div id="wrapper">
			<div id ='asidepanel3'>
				<div o class="messagepanel">
					<div class="time">
					10:15
					</div>
					<div>
					<img class="img" src="../static/img/avatar4.png">
					Олег Петров
					</div>
					<div>
					Привет!
					</div>
				</div>
				<div  class="messagepanel">
					<div class="time">
					12:15
					</div>
					<div>
					<img class="img" src="../static/img/avatar2.png">
					Олег Петров
					</div>
					<div>
					Привет!
					</div>
				</div>
				<div class="messagepanel">
					<div class="time">
					15:15
					</div>
					<div>
					<img class="img" src="../static/img/avatar5.png">
					Олег Петров
					</div>
					<div>
					Привет!
					</div>
				</div>
			</div>
			<div id='asidepanel4'>
				<input class="inputMessage" type="text" name="comment" placeholder="Ваше сообщение...">
			</div>
		</div>
    </body>
</html>
