<!DOCTYPE html>

<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
	<header>
		<div>
			 <div class="title"><a href="#"><img src="../static/img/logo.png" height="45">Geographic social network</a></div>
				<ul id="main-menu">
					<li>
						<a href="MyProfile.html"><img src="../static/img/avatar.png" height="45"></a>
						<ul>
							<li><a href="Map.html">Карта</a></li>
							<li><a href="Friends.html">Друзья</a></li>
							<li><a href="Message.html">Сообщения</a></li>
							<li><a href="#">Комментарии</a></li>
							<li><a href="MySettings.html">Настройки</a></li>
							<li><a href="Main.html">Выход</a></li>
						</ul>
					</li>
				</ul>
		</div>
</header>
     <section class="list">
     <table  align="center" border="0" cellspacing="5" cellpadding="5">
     	<caption>Настройки приватности</caption>

     	<tr>
     		<td align="right" valign="top">Кто может просматривать мой профиль?</td>
     		<td>
     			<select class="form-control" id="select">
					<option selected value="all">Все</option>
					<option value="MyFrs">Мои друзья</option>
					<option value="MySubs">Мои подписчики</option>
					<option value="MyFrsfrs">Друзья друзей</option>
					<option value="MySubsFrs">Друзья подписчиков</option>
				</select>
			</td>
     	</tr>


     	<tr>
     		<td align="right" valign="top">Кто может писать мне сообщения?</td>
     		<td>
     			<select class="form-control" id="select">
					<option selected value="all">Все</option>
					<option value="MyFrs">Мои друзья</option>
					<option value="MySubs">Мои подписчики</option>
					<option value="MyFrsfrs">Друзья друзей</option>
					<option value="MySubsFrs">Друзья подписчиков</option>
				</select>
     		</td>
     	</tr>

     	<tr>
     		<td align="right" valign="top">Кто может просматривать мои заметки?</td>
     		<td>
     			<select class="form-control" id="select">
					<option selected value="all">Все</option>
					<option value="MyFrs">Мои друзья</option>
					<option value="MySubs">Мои подписчики</option>
					<option value="MyFrsfrs">Друзья друзей</option>
					<option value="MySubsFrs">Друзья подписчиков</option>
				</select>
     		</td>
     	</tr>

     	<tr>
     		<td align="right" valign="top">Кто может просматривать мои комментарии?</td>
     		<td>
     			<select class="form-control" id="select">
					<option selected value="all">Все</option>
					<option value="MyFrs">Мои друзья</option>
					<option value="MySubs">Мои подписчики</option>
					<option value="MyFrsfrs">Друзья друзей</option>
					<option value="MySubsFrs">Друзья подписчиков</option>
				</select>
     		</td>
     	</tr>

     	<tr>
     		<td align="right" valign="top">Кто может отвечать на мои комментарии?</td>
     		<td>
     			<select class="form-control" id="select">
					<option selected value="all">Все</option>
					<option value="MyFrs">Мои друзья</option>
					<option value="MySubs">Мои подписчики</option>
					<option value="MyFrsfrs">Друзья друзей</option>
					<option value="MySubsFrs">Друзья подписчиков</option>
				</select>
     		</td>
     	</tr>



     </table>
</section>
</body>
</html>
