<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/main.css">
        <title>Geographical social network (GSN)</title>
    </head>
    <body>
      <header>
            <div>
               <div class="title"><a href="MyProfile.html">Geographic social network</a></div>
                <ul id="main-menu">
                  <li>
                    <a href="MyProfile.html">Мой профиль</a>
                      <ul>
                        <li><a href="Map.html">Карта</a></li>
                        <li><a href="Friends.html">Друзья</a></li>
                        <li><a href="Message.html">Сообщения</a></li>
                        <li><a href="#">Комментарии</a></li>
                        <li><a href="Notes.html">Заметки</a></li>
                        <li><a href="MySettings.html">Настройки</a></li>
                        <li><a href="Main.html">Выход</a></li>
                      </ul>
                  </li>
                </ul>
                 <div class="logo"><a href="#"><img src="../static/img/avatar.png" style="height: 45px;" /></a></div>
            </div>
     </header>
      <section>
        <h3>Заметки</h3>
        <article class="notes">
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo1.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo4.png"></p></a>
              <figcaption>Paris 10.02</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo5.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo6.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo2.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo3.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
      </article>
      </section>
    </body>
  </html>
