<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Название</title>
		<link href = "../static/style.css" rel = "stylesheet" type = "text/css"/>
	</head>
	<body id='darkbackground'>
	 		<header>
            <div>
               <div class="title"><a href="MyProfile.html">Geographic social network</a></div>
                <ul id="main-menu">
                  <li>
                    <a href="MyProfile.html">Мой профиль</a>
                      <ul>
                        <li><a href="#">Карта</a></li>
                        <li><a href="Friends.html">Друзья</a></li>
                        <li><a href="Message.html">Сообщения</a></li>
                        <li><a href="#">Комментарии</a></li>
                        <li><a href="Notes.html">Заметки</a></li>
                        <li><a href="MySettings.html">Настройки</a></li>
                        <li><a href="index.html">Выход</a></li>
                      </ul>
                  </li>
                </ul>
                 <div class="logo"><a href="#"><img src="../static/img/panda.png" style="height: 45px;" /></a></div>
            </div>
     </header>
	 	<div id="wrapper">
			<div id ='asidepanel'>
					<img id ='foto' src="../static/img/foto.jpg">
			</div>
			<div id='asidepanel2'>
				<div class="borderbottom">
					<img id="avatar" src="../static/img/avatar4.png">
				<div id='login'>@username</div>
			</div>
				<input class="inputComments" type="text" name="comment" placeholder="Оставьте комментарий...">
			</div>
		</div>
	 </body>
	 </html>