<!DOCTYPE html>

<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/main.css">

</head>

<body >
	 <header>
            <div>
               <div class="title"><a href="MyProfile.html">Geographic social network</a></div>
                <ul id="main-menu">
                  <li>
                    <a href="MyProfile.html">Мой профиль</a>
                      <ul>
                        <li><a href="Map.html">Карта</a></li>
                        <li><a href="Friends.html">Друзья</a></li>
                        <li><a href="Message.html">Сообщения</a></li>
                        <li><a href="#">Комментарии</a></li>
                        <li><a href="Notes.html">Заметки</a></li>
                        <li><a href="MySettings.html">Настройки</a></li>
                        <li><a href="Main.html">Выход</a></li>
                      </ul>
                  </li>
                </ul>
                 <div class="logo"><a href="#"><img src="../static/img/avatar.png" style="height: 45px;" /></a></div>
            </div>
     </header>

	<section class="list-1">
		<form name="forma1">
     		<table  align="center" border="0" cellspacing="5" cellpadding="5">
   				<caption>Ann_Ivanova</caption>
				<tr>
  	 				<td></td>
  	 				<td align="center" valign="top"><img src="../static/img/avatar.png" width="240" height="240" class="round"/></td>
     				<td><input type="button" value="Написать сообщение"></td>
     				<td><p><button><img src="img/yes.jpg" width="15" height="15" alt="" style="vertical-align:middle">У вас в друзьях</button></p></td>
     				<td><p><button><img src="img/no.jpg" width="15" height="15" alt="" style="vertical-align:middle">Удалить из друзей</button></p></td>
    		  	</tr>

				<tr>
    				<td align="right" valign="top">Имя:</td>
    				<td>Анна</td>
    			</tr>
    			<tr>
         			<td align="right" valign="top">Фамилия:</td>
    				<td>Иванова</td>
   				</tr>
   				<tr>
    				<td align="right" valign="top">Пол:</td>
    				<td>Женский</td>
   				</tr>

   				<tr>
    				<td align="right" valign="top">Дата рождения:</td>
    				<td>1995</td>
   				</tr>

   				<tr>
   					<td align="right" valign="top">Страна:</td>
   					<td>Украина</td>
   				</tr>

   				<tr>
    				<td align="right" valign="top">Город:</td>
    				<td>Одесса</td>
   				</tr>

   				<tr>
    				<td align="right" valign="top">О себе:</td>
    				<td>Люблю фото, книги и кофе</td>
   				</tr>

   				<tr>
    				<td align="right" valign="top">Мои заметки:</td>
    				<td align="center" valign="top"><img class="image" src="../static/img/118.jpg" width="240" height="240"/></td>
    				<td align="center" valign="top"><img class="image" src="../static/img/68578-Margo.jpg" width="240" height="240"/></td>
    				<td align="center" valign="top"><img class="image" src="../static/img/82554.jpg" width="240" height="240"/></td>
    			</tr>

    			<tr>
    				<td></td>
    				<td align="center" valign="top"> <figcaption>...</figcaption></td>
    				<td align="center" valign="top"> <figcaption>...</figcaption></td>
    				<td align="center" valign="top"> <figcaption>...</figcaption></td>
    			</tr>


			</table>
		</form>
</section>
</body>
</html>
