<!DOCTYPE html>

<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	
</head>

<body>
	<header>
            <div>
               <div class="title"><a href="#">Geographic social network</a></div>
                <ul id="main-menu">
                  <li>
                    <a href="#">Мой профиль</a>
                      <ul>
                        <li><a href="#">Карта</a></li>
                        <li><a href="#">Друзья</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li><a href="#">Комментарии</a></li>
                        <li><a href="#">Заметки</a></li>
                        <li><a href="#">Настройки</a></li>
                        <li><a href="#">Выход</a></li>
                      </ul>
                  </li>
                </ul>
                 <div class="logo"><a href="#"><img src="../static/img/panda.png" style="height: 45px;" /></a></div>
            </div>
  </header>

  <section>
        <h3>Заметки</h3>
        <h4>Сортировать по:</h4>
          <select class="form-control" id="select">
          <option selected value="all">стране</option>
          <option value="MyFrs">городу</option>
          <option value="MySubs">месту</option>
          <option value="MyFrsfrs">дате</option>
          <option value="MySubsFrs">категории</option>
        </select>
      </td>


        <article class="notes">
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo1.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo4.png"></p></a>
              <figcaption>Paris 10.02</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo5.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo6.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo2.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
          <figure class="photo">
            <a href="#"><img class="image" src="../static/img/photo3.png"></p></a>
              <figcaption>...</figcaption>
          </figure>
      </article>
      </section>


</body>
</html>