{% extends "Header.html" %}
{% block content %}
<br />
<br />
<br />
<section class="list"> <!--  Friends list   !-->
  <h3>Ваши друзья</h3>
  {% for user1 in friends %}
  <div class="friend">
         <div class="avatar"><img src="{{user1.userpic()}}"></div>
         <a href= "{{ url_for('user.user', user_login=user1.login) }}" ></a>
             <div class="friend-name">{{user1.login}}</div>
         </a>
  <div class="message"><button type="button" name="message-button">Cообщение</button></div>
  <br>
  <a href="{{ url_for('user.unfollow', user_login=user1.login) }}"><button>Отписаться</button></a>
  </div>
  {% endfor %}
</section>

<section class="list"> <!--  Sent friends requests list   !-->
<h3>Отправленные заявки</h3>
{% for user2 in follows %}
<div class="friend">
    <div class="avatar"><img src="{{user2.userpic()}}"></div>
    <a href="{{ url_for('user.user', user_login=user2.login) }}">  
       <div class="friend-name">{{user2.login}}</div>
    </a>
<div class="message"><button type="button" name="message-button">Cообщение</button></div>
<br>
<a href="{{ url_for('user.unfollow', user_login=user2.login) }}"><button type="button">Отменить заявку</button></a>  
</div>
{% endfor %}
</section>

<section class="list"> <!--  Received friends requests list   !-->
<h3>Полученные заявки</h3>
{% for user3 in followers %}
<div class="friend">
  <div class="avatar"><img src="{{user3.userpic()}}"></div>
  <a href="{{ url_for('user.user', user_login=user3.login) }}">  
     <div class="friend-name">{{user3.login}}</div>
  </a>
<div class="message"><button type="button" name="message-button">Cообщение</button></div>
<br>
<a href="{{ url_for('user.follow', user_login=user3.login) }}"><button>Подтвердить заявку</button></a>
</div>
{% endfor %}
</section>
{% endblock %}

