<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../static/style.css">
        <title>Geographical social network (GSN)</title>
    </head>
    {% endblock %}
    <body>
      {% block header %}
      <header>
        <div>
          <div class="title"><img src="../static/img/logo.png" height="45">Geographic social network</div>
            <ul id="main-menu">
              <li>
                <a href="myprofile"><img src="../static/img/avatar.png" height="45"></a>
                  <ul>
                    <li><a href="map">Карта</a></li>
                    <li><a href="friends">Друзья</a></li>
                    <li><a href="message">Сообщения</a></li>
                    <li><a href="settings">Настройки</a></li>
                    <li><a href="logout">Выход</a></li>
                  </ul>
              </li>
            </ul>
        </div>
      </header>
      {% endblock %}
      <section id="content">{% block content %}{% endblock %}</section>
    </body>
</html>
