<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/main.css">
        <title>Geographical social network (GSN)</title>
    </head>
    <body>
      <header>
            <div>
               <div class="title"><a href="MyProfile.html">Geographic social network</a></div>
                <ul id="main-menu">
                  <li>
                    <a href="MyProfile.html">Мой профиль</a>
                      <ul>
                        <li><a href="Map.html">Карта</a></li>
                        <li><a href="Friends.html">Друзья</a></li>
                        <li><a href="Message.html">Сообщения</a></li>
                        <li><a href="#">Комментарии</a></li>
                        <li><a href="Notes.html">Заметки</a></li>
                        <li><a href="MySettings.html">Настройки</a></li>
                        <li><a href="Main.html">Выход</a></li>
                      </ul>
                  </li>
                </ul>
                 <div class="logo"><a href="#"><img src="../static/img/avatar.png" style="height: 45px;" /></a></div>
            </div>
     </header>
      <section class="list"> <!--  Friends list   !-->
        <h2>Ваши друзья</h2>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar1.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar2.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar3.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar4.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar5.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar6.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
          <div class="friends">
            <div class="avatar"><a href="SomeonesProfile.html"><img src="../static/img/avatar7.png"></a></div>
            <div class="name"><a href="SomeonesProfile.html">@nickname</a><br>
              <div class="message"><a href="#">Написать сообщение</a></div>
            </div>
              <div class="friend-menu"><a href="#">удалить</a></div>
          </div>
    </section>
